.header {
    background-color: $header-bg-color;
    display: flex;
    padding: 1em 3em;

    @media screen and (max-width:600px) {
        flex-direction: column;       
    }

    &__img {
        width: 150px;
        width: 150px;

        @media screen and (max-width:600px) {
            align-self: center;       
        }

    }  

    &__nav {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;

        @media screen and (max-width:600px) {
            align-self: center;       
        }     

        & a {
            text-decoration: none;
            padding-left: 1em;
            color: rgb(148, 147, 147);

            &:hover {
                color: black;
            }
        }
    }
}