
.page1{
    margin: 0 10vw;
    transform: translateY(3em);
    img {
        width: 100%;
    }
    & .map {
        padding-top: 56.25%;
        position: relative;
        bottom: 650px;

        & iframe {
            position: absolute;
            height: 100%;
            width: 100%;
            
        }
    }

}
.flex {
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
    @media screen and (max-width:608px) { 
        flex-direction: column;
    }
}
.information {
    
        width: 33%;
        &__header {
            font-size: 2em;
        }
         @media screen and (max-width:608px) { 
            width: 100%;
        }
}
