
.page1{
    margin: 0 10vw;
    transform: translateY(3em);
    img {
        width: 100%;
    }
    & .map {
        text-align: center;
    }

}
.flex {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
}
.information {
    
        width: 33%;
        &__header {
            font-size: 2em;
        }
}
