* {
    padding: 0;
}
.page2 {
    margin: 0 5em;
    transform: translateY(3em);
    h2 {
    padding: 0 5em;
    }
    &__image {
        padding: 0 5em;
        width: 100%;
    }
}
.flex {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width:850px) { 
        flex-direction: column;
        align-items: center;
    }

    &__square {
        width: 43%;
        padding: 0 4em;
        @media screen and (max-width:850px) { 
            width: 90%;
        }
        @media screen and (max-width:600px) { 
            width: 100%;
        }
    }
}
.coffeeitem {
    display: flex;
    &__thing {
        flex-grow: 1;

    }
    &__price {
        align-items: flex-end;
 

    }
}


